* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, system-ui, -apple-system,
    BlinkMacSystemFont, Oxygen, Ubuntu, sans-serif;
  padding: 60px;
}
